body { 
	font-family: sans-serif; 
}

a {
	text-decoration: none;
	color: inherit;
}

#container {
	max-width: 400px;
	border-right: 1px solid #CCCCCC;
	padding: 5px;
}

.light { 
	color: #777777; 
}

