body { 
	font-family: sans-serif; 
	margin: 0;
	padding: 0;
	background-color: #888;
	background-image: url("/imgs/leather_bg.jpg");
}

.group:after {
	content: "";
	display: table;
	clear: both;
}

a {
	text-decoration: none;
	color: inherit;
}

#container {
	margin: 10px auto;
	padding: 1em;
	max-width: 600px;
	border: 1px solid #CCCCCC;
	background-color: #FFF;
}

.light { 
	color: #777777; 
}

.flash{
	animation: flashframes linear 0.5s;
}
@keyframes flashframes {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}

.btn-big {
	font-size: 1.5em;
	margin: .25em .25em .25em 0;
}

.hide {
	display: none;
}
