@import 'palette';

$typeGrid: 4px;
$margin: 16px;
$increment: 56px;

$color-primary: palette(Deep Purple, 500);
$color-secondary: palette(Deep Purple, 700);
$color-light: palette(Deep Purple, 200);
$color-dark: palette(Deep Purple, 900);



.test {
	background-color: #FFD;
	border: 1px solid #000;
}


.group {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.no-overflow {
	overflow: hidden;
}

body, input {
	color: rgba(0,0,0,0.87);
	font: 16px sans-serif;
}

body {
	margin: 0;
	padding: 0;
	background-color: #FFF;
}

.touch {
	float: right;
	width: $increment;
	height: $increment;
	line-height: $increment;
	text-align: center;
	transition: all 0.2s;
}	
.touch:hover {
	color: rgba(0,0,0,0.5);
}



$col-width: 5 * $increment;
.col { 
	overflow: hidden; 
	position: relative; 
	box-sizing: border-box;
	float: left; 
	height: 100%;
	width: $col-width; 
	border-right: 1px solid rgba(0,0,0,0.5); 

	&.wide {
		width: $increment * 7;
	}

	&.right {
		float: right;
		border-right: none; 
		border-left: 1px solid rgba(0,0,0,0.5); 
	}
}

.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }

$header-height: $increment;
$footer-height: $increment;
.header { 
	height: $header-height; 
	line-height: $header-height; 
	padding-left: $margin;
	font-weight: bold;
}	
.dark {
	background-color: $color-primary;
	color: rgba(255,255,255,0.87);
}

.body { 
	top: $header-height; 
	bottom: $footer-height; 
}
.footer { 
	height: $footer-height; 
	line-height: $footer-height; 
	bottom: 0; 
	padding-left: $margin;
	background-color: $color-primary;
	color: #FFF;
}

.light {
	background-color: $color-light;
	color: #FFF;
}

.label-set {
	height: $increment;
	line-height: $increment;
	width: 100%;
	padding: 0;
	margin: 0;

	.label {
		box-sizing: border-box;
		width: 125px;
		padding-left: $margin;
		display: inline-block;
	}
	input {
		box-sizing: border-box;
		width: calc(100% - 125px - #{$margin});
		display: inline-block;
		padding: $typeGrid * 2;
	}
}

.shadow {
	box-shadow: 0px 2px 3px rgba(0,0,0,.5);
}

.list {

	overflow-x: hidden;
	overflow-y: auto;
	height: 100%;
	width: 100%;


	.item {
		border-bottom: 1px solid rgba(0,0,0,0.5);
		height: $increment;
		line-height: $increment;
		padding-left: $margin;
		padding-right: $margin;

		&.selected {
			background-color: #FFA;
			//box-shadow: 0px 2px 3px rgba(0,0,0,.5);
		}

		.right {
			float: right;
		}
	}

	.btn {
		//margin: 0;
	}

}

$button-width: $increment;
$input-height: $increment - $margin;
.input-test {
	width: calc(100% - #{$increment + $margin - $typeGrid});
        height: $input-height;
	padding-left: $typeGrid;
	margin-left: $margin - $typeGrid;
	margin-top: $margin/2;
	margin-bottom: $margin/2;
}

@mixin h-base {
	color: rgba(0,0,0,0.54);
	margin-top: 2 * $typeGrid;
	.dark > & {
		color: #FFF;
	}
}


@for $i from 1 through 6 {
	h#{$i} {
		font-size: #{32px - (($i - 1) * ($typeGrid + 1))};		
		margin-bottom: #{(6 - $i) * $typeGrid};
		@include h-base;
	}
}


@for $i from 1 through 6 {
	.has-header#{$i} {
		height: calc(100% - #{$i*$header-height});
	}
}


.btn {
	box-sizing: border-box;
	height: $increment;
	line-height: $increment;
	border-radius: 4px;
	font-weight: bold;
	color: #FFF;
	background-color: #2196F3;
	margin: $typeGrid;
	text-align: center;
}


.bold {
	color: rgba(0,0,0,0.67);
	font-weight: bold;
}

.italic {
	font-style: italic;
}


.modal {
	display: none;
	z-index: 2;
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.7);
	padding: 1em;
	overflow-y: scroll;
}

.modal .main-view {
	width: 100%;
	max-width: 600px;
	min-width: 300px;
	box-shadow: 3px 3px 3px #000;
	box-sizing: border-box;
	padding: 2em;
	margin: auto auto;
	background-color: #FFF;
}

.modal .footer {
	margin-top: 1em;
	overflow: hidden;
}


@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/imgs/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(/imgs/fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(/imgs/fonts/MaterialIcons-Regular.woff) format('woff'),
       url(/imgs/fonts/MMaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	//line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	//display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
	font-feature-settings: 'liga';
	font-smoothing: antialiased;
}
