@import 'palette';

$typeGrid: 4px;
$margin: 16px;
$increment: 56px;

$color-primary: palette(Deep Purple, 500);
$color-secondary: palette(Deep Purple, 700);
$color-light: palette(Deep Purple, 200);
$color-dark: palette(Deep Purple, 900);



.test {
	background-color: #FFD;
	border: 1px solid #000;
}



@mixin group {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin no-overflow {
	overflow: hidden;
}


body {
	margin: 0;
	padding: 0;
	background-color: #FFF;
	color: rgba(0,0,0,0.87);
	font: 16px sans-serif;
}

$col-width: 5 * $increment;
.col { 
	overflow: hidden; 
	position: relative; 
	box-sizing: border-box;
	float: left; 
	height: 100%;
	width: $col-width; 
	border-right: 1px solid rgba(0,0,0,0.5); 
}

.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }

$header-height: $increment;
$footer-height: $increment;
.header { 
	height: $header-height; 
	line-height: $header-height; 
	top: 0; 
	padding-left: $margin;
	background-color: $color-primary;
	color: #FFF;
}
.body { 
	top: $header-height; 
	bottom: $footer-height; 
}
.footer { 
	height: $footer-height; 
	line-height: $footer-height; 
	bottom: 0; 
	padding-left: $margin;
	background-color: $color-primary;
	color: #FFF;
}


.list {
	.item {
		border-bottom: 1px solid rgba(0,0,0,0.5);
		height: $increment;
		line-height: $increment;
		padding-left: $margin;
	}

	.btn {
		margin: 0;
	}

	input {
		padding: $typeGrid * 2;
		width: 100%;
	}
}



@mixin h-base {
	color: rgba(0,0,0,0.54);
	margin-top: 2 * $typeGrid;
	.dark > & {
		color: #FFF;
	}
}


@for $i from 1 through 6 {
	h#{$i} {
		font-size: #{32px - (($i - 1) * ($typeGrid + 1))};		
		margin-bottom: #{(6 - $i) * $typeGrid};
		@include h-base;
	}
}


.btn {
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	border-radius: 4px;
	color: #FFF;
	font-weight: bold;
	background-color: #2196F3;
	padding: $typeGrid * 2;
	margin: $typeGrid auto;
	text-align: center;
}



.bold {
	color: rgba(0,0,0,0.67);
	font-weight: bold;
}

.italic {
	font-style: italic;
}

