/**
 * google-material-color v1.2.6
 * https://github.com/danlevan/google-material-color
 */
.test {
  background-color: #FFD;
  border: 1px solid #000; }

.group:after {
  content: "";
  display: table;
  clear: both; }

.no-overflow {
  overflow: hidden; }

body, input {
  color: rgba(0, 0, 0, 0.87);
  font: 16px sans-serif; }

body {
  margin: 0;
  padding: 0;
  background-color: #CCC; }

.touch {
  float: right;
  width: 56px;
  height: 56px;
  line-height: 56px;
  text-align: center;
  transition: all 0.2s; }

.touch:hover {
  color: rgba(0, 0, 0, 0.5); }

.col {
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  float: left;
  height: 100%;
  width: 280px;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  background-color: #FFF; }
  .col.wide {
    width: 392px; }
  .col.right {
    float: right;
    border-right: none;
    border-left: 1px solid rgba(0, 0, 0, 0.5); }

.scroll-x {
  overflow-x: auto; }

.scroll-y {
  overflow-y: auto; }

.header {
  height: 56px;
  line-height: 56px;
  padding-left: 16px;
  font-weight: bold; }

.dark {
  background-color: #673AB7;
  color: rgba(255, 255, 255, 0.87); }

.body {
  top: 56px;
  bottom: 56px; }

.footer {
  height: 56px;
  line-height: 56px;
  bottom: 0;
  padding-left: 16px;
  background-color: #673AB7;
  color: #FFF; }

.light {
  background-color: #B39DDB;
  color: #FFF; }

.label-set {
  height: 56px;
  line-height: 56px;
  width: 100%;
  padding: 0;
  margin: 0; }
  .label-set .label {
    box-sizing: border-box;
    width: 125px;
    padding-left: 16px;
    display: inline-block; }
  .label-set input, .label-set select {
    box-sizing: border-box;
    width: calc(100% - 125px - 16px);
    display: inline-block;
    padding: 8px; }

.shadow {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5); }

.list {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  width: 100%; }
  .list .item {
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    height: 56px;
    line-height: 56px;
    padding-left: 16px;
    padding-right: 16px; }
    .list .item.selected {
      background-color: #FFA; }
    .list .item .right {
      float: right; }

.input-test {
  width: calc(100% - 68px);
  height: 40px;
  padding-left: 4px;
  margin-left: 12px;
  margin-top: 8px;
  margin-bottom: 8px; }

select {
  height: 40px;
  padding-left: 4px;
  margin-top: 8px;
  margin-bottom: 8px; }

h1 {
  font-size: 32px;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.54);
  margin-top: 8px; }
  .dark > h1 {
    color: #FFF; }

h2 {
  font-size: 27px;
  margin-bottom: 16px;
  color: rgba(0, 0, 0, 0.54);
  margin-top: 8px; }
  .dark > h2 {
    color: #FFF; }

h3 {
  font-size: 22px;
  margin-bottom: 12px;
  color: rgba(0, 0, 0, 0.54);
  margin-top: 8px; }
  .dark > h3 {
    color: #FFF; }

h4 {
  font-size: 17px;
  margin-bottom: 8px;
  color: rgba(0, 0, 0, 0.54);
  margin-top: 8px; }
  .dark > h4 {
    color: #FFF; }

h5 {
  font-size: 12px;
  margin-bottom: 4px;
  color: rgba(0, 0, 0, 0.54);
  margin-top: 8px; }
  .dark > h5 {
    color: #FFF; }

h6 {
  font-size: 7px;
  margin-bottom: 0px;
  color: rgba(0, 0, 0, 0.54);
  margin-top: 8px; }
  .dark > h6 {
    color: #FFF; }

.has-header1 {
  height: calc(100% - 56px); }

.has-header2 {
  height: calc(100% - 112px); }

.has-header3 {
  height: calc(100% - 168px); }

.has-header4 {
  height: calc(100% - 224px); }

.has-header5 {
  height: calc(100% - 280px); }

.has-header6 {
  height: calc(100% - 336px); }

.btn {
  box-sizing: border-box;
  height: 56px;
  line-height: 56px;
  border-radius: 4px;
  font-weight: bold;
  color: #FFF;
  background-color: #2196F3;
  margin: 4px;
  text-align: center; }

.bold {
  color: rgba(0, 0, 0, 0.67);
  font-weight: bold; }

.italic {
  font-style: italic; }

.modal {
  display: none;
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1em;
  overflow-y: scroll; }

.modal .main-view {
  width: 100%;
  max-width: 600px;
  min-width: 300px;
  box-shadow: 3px 3px 3px #000;
  box-sizing: border-box;
  padding: 2em;
  margin: auto auto;
  background-color: #FFF; }

.modal .footer {
  margin-top: 1em;
  overflow: hidden; }

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/imgs/fonts/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(/imgs/fonts/MaterialIcons-Regular.woff2) format("woff2"), url(/imgs/fonts/MaterialIcons-Regular.woff) format("woff"), url(/imgs/fonts/MMaterialIcons-Regular.ttf) format("truetype"); }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'liga';
  font-smoothing: antialiased; }
