@import 'palette';

$typeGrid: 4px;
$baseGrid: 2 * $typeGrid;
$margin: 2 * $baseGrid;
$increment: 56px;

$fakeColor1: #DDD; $fakeColor2: #FDD; $fakeBorder: 1px solid #999;
//$fakeColor1: transparent; $fakeColor2: transparent; $fakeBorder: none;

@mixin group {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin no-overflow {
	overflow: hidden;
}

body,
textarea,
input,
select {
	background: 0;
	border-radius: 0;
	font: 16px sans-serif;
	margin: 0
}

body {
	background-color: palette(Grey, 700);
}

a { 
	text-decoration: none; 
	color: #000;

	.dark > & {
		color: #FFF;
	}
}

@mixin h-base {
	color: rgba(0,0,0,0.54);
	.dark > & {
		color: #FFF;
	}
}


@for $i from 1 through 6 {
	h#{$i} {
		font-size: #{32px - (($i - 1) * ($typeGrid + 1))};		
		@include h-base;
	}
}



.container {
	@include group;
	background-color: $fakeColor1;
	margin: auto;
	max-width: $increment * 12;
}

.col {
	position: relative;
	box-sizing: border-box;
	background-color: $fakeColor2;
	float: left;
	border: $fakeBorder;
	padding: $margin;

	img {
		display: block;
		margin: auto;
		width: 100%;

		&.vertical {
			width: auto;
			height: 100%
		}
	}

	&.parent {
		padding: 0;		
	}
}

@for $i from 1 through 12 {
	.col-#{$i} {
		width: #{$i * $increment};		
		@include no-overflow;
	}
	.colh-#{$i} {
		height: #{$i * $increment};		
	}
}


@media (max-width: 12 * $increment) {
	article {
		width: 100%;
	}

	@for $i from 1 through 12 {
		.col-#{$i} {
			width: 100%;		
		}
	}
}


.dark {
	color: #FFF;
	//background-color: rgba(0,0,0,0.54);
	background-color: palette(Cyan, 700);
}

