/**
 * google-material-color v1.2.6
 * https://github.com/danlevan/google-material-color
 */
.test {
  background-color: #FFD;
  border: 1px solid #000; }

body {
  margin: 0;
  padding: 0;
  background-color: #FFF;
  color: rgba(0, 0, 0, 0.87);
  font: 16px sans-serif; }

.col {
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  float: left;
  height: 100%;
  width: 280px;
  border-right: 1px solid rgba(0, 0, 0, 0.5); }
  .col.wide {
    width: 392px; }

.scroll-x {
  overflow-x: auto; }

.scroll-y {
  overflow-y: auto; }

.header {
  height: 56px;
  line-height: 56px;
  top: 0;
  padding-left: 16px;
  background-color: #673AB7;
  color: #FFF; }

.body {
  top: 56px;
  bottom: 56px; }

.footer {
  height: 56px;
  line-height: 56px;
  bottom: 0;
  padding-left: 16px;
  background-color: #673AB7;
  color: #FFF; }

.light {
  background-color: #B39DDB; }

.label-set {
  height: 56px;
  line-height: 56px;
  width: 100%;
  padding: 0;
  margin: 0; }
  .label-set .label {
    box-sizing: border-box;
    width: 125px;
    padding-left: 16px;
    display: inline-block; }
  .label-set input {
    box-sizing: border-box;
    width: calc(100% - 125px - 16px);
    display: inline-block;
    padding: 8px; }

.list .item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  height: 56px;
  line-height: 56px;
  padding-left: 16px; }

.list .btn {
  margin: 0; }

.list input {
  padding: 8px;
  width: 100%; }

h1 {
  font-size: 32px;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.54);
  margin-top: 8px; }
  .dark > h1 {
    color: #FFF; }

h2 {
  font-size: 27px;
  margin-bottom: 16px;
  color: rgba(0, 0, 0, 0.54);
  margin-top: 8px; }
  .dark > h2 {
    color: #FFF; }

h3 {
  font-size: 22px;
  margin-bottom: 12px;
  color: rgba(0, 0, 0, 0.54);
  margin-top: 8px; }
  .dark > h3 {
    color: #FFF; }

h4 {
  font-size: 17px;
  margin-bottom: 8px;
  color: rgba(0, 0, 0, 0.54);
  margin-top: 8px; }
  .dark > h4 {
    color: #FFF; }

h5 {
  font-size: 12px;
  margin-bottom: 4px;
  color: rgba(0, 0, 0, 0.54);
  margin-top: 8px; }
  .dark > h5 {
    color: #FFF; }

h6 {
  font-size: 7px;
  margin-bottom: 0px;
  color: rgba(0, 0, 0, 0.54);
  margin-top: 8px; }
  .dark > h6 {
    color: #FFF; }

.btn {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  color: #FFF;
  font-weight: bold;
  background-color: #2196F3;
  padding: 8px;
  margin: 0;
  text-align: center; }

.bold {
  color: rgba(0, 0, 0, 0.67);
  font-weight: bold; }

.italic {
  font-style: italic; }
