@import 'palette';

$typeGrid: 4px;
$margin: 24px;
$big-margin: 80px;
$increment: 56px;

$color-primary: palette(Deep Purple, 500);
$color-secondary: palette(Deep Purple, 700);
$color-light: palette(Deep Purple, 200);
$color-dark: palette(Deep Purple, 900);


.group {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin no-overflow {
	overflow: hidden;
}


body {
	margin: 0;
	padding: 0;
	background-color: #FFF;
	color: rgba(0,0,0,0.87);
	font: 16px sans-serif;
}

.container {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.col { 
	float: left;
	overflow: hidden; 
	box-sizing: border-box;
	height: 100%;
	width: 5*$increment;
}

.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }

$header-height: $increment;
$footer-height: $increment;
.header.row { 
	height: $header-height; 
	line-height: $header-height; 
	top: 0; 
	background-color: $color-primary;
	color: #FFF;
}
.body.row { 
	top: $header-height; 
	bottom: $footer-height; 
}
.footer.row { 
	height: $footer-height; 
	line-height: $footer-height; 
	bottom: 0; 
	background-color: $color-primary;
	color: #FFF;
}

.header.row, .footer.row {
	box-shadow: 0px 2px 2px rgba(0,0,0,0.5);

	span {
		margin-left: $margin;
	}
	button {
		width: 100%; height: 100%;
		margin: 0;
		border-radius: 0;
	}
}


//$left-col-width: 5 * $increment;
//.left.col { 
//	width: $left-col-width; 
//	border-right: 1px solid rgba(0,0,0,0.5); 
//}
//.right.col { 
//	left: $left-col-width; 
//	right: 0; 
//}

.list .item {
	border-bottom: 1px solid rgba(0,0,0,0.5);
	height: $increment;
	line-height: $increment;
	padding-left: $margin;
}

.details {
	padding: 3*$margin $margin $margin $big-margin;

	width: 8*$increment;
	position: relative;
	overflow-y: auto;

	.header {
		height: $increment;
		line-height: $increment;
		position: relative;
		font-size: 7*$typeGrid;
		margin-bottom: $margin;
		color: rgba(0,0,0,0.5);
	
		.touch {
			float: right;
			width: $increment;
			height: $increment;
			line-height: $increment;
			text-align: center;
			transition: all 0.2s;
		}	
		.touch:hover {
			color: rgba(0,0,0,0.8);
		}

		.controls {
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
		}
	}
}

.form {
	max-width: 8 * $increment;

	.label-set {
		margin: 0;
		margin-bottom: $typeGrid;
		//margin-top: 3 * $typeGrid;
		//margin-bottom: 3 * $typeGrid;
		font-size: 4*$typeGrid;
		.label {
			display: inline-block;
			color: rgba(0,0,0,0.77);
			width: 145px;
		}

		input {
			display: inline-block;
			font-size: 4*$typeGrid;
			padding: $typeGrid;
			width: calc(100% - 165px);
		}
	}
}


@mixin h-base {
	color: rgba(0,0,0,0.54);
	margin-top: 2 * $typeGrid;
	.dark > & {
		color: #FFF;
	}
}


@for $i from 1 through 6 {
	h#{$i} {
		font-size: #{32px - (($i - 1) * ($typeGrid + 1))};		
		margin-bottom: #{(6 - $i) * $typeGrid};
		@include h-base;
	}
}


.btn {
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	border-radius: 4px;
	color: #FFF;
	font-weight: bold;
	background-color: #2196F3;
	padding: $typeGrid * 2;
	margin: $typeGrid auto;
	text-align: center;
}


button {
	min-height: $increment;
	min-width: $increment;
	padding: 0 $margin;
}


.bold {
	color: rgba(0,0,0,0.67);
}


.modal {
	display: none;
	z-index: 2;
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.7);
	padding: 1em;
	overflow-y: scroll;

}

.modal .main-view {
	width: 100%;
	max-width: 600px;
	min-width: 300px;
	box-shadow: 3px 3px 3px #000;
	box-sizing: border-box;
	padding: 2em;
	margin: auto auto;
	background-color: #FFF;
}

.modal .footer {
	margin-top: 1em;
	overflow: hidden;
}


@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/imgs/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(/imgs/fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(/imgs/fonts/MaterialIcons-Regular.woff) format('woff'),
       url(/imgs/fonts/MMaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
	font-feature-settings: 'liga';
	font-smoothing: antialiased;
}
