@import 'palette';

$typeGrid: 4px;
$baseGrid: 2 * $typeGrid;
$margin: 2 * $baseGrid;
$increment: 56px;

$fakeColor1: #DDD; $fakeColor2: #FDD; $fakeBorder: 1px solid #999;
$fakeColor1: palette(Cyan, 700); $fakeColor2: #FFF; $fakeBorder: none;

@mixin group {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin no-overflow {
	overflow: hidden;
}

body,
textarea,
input,
select {
	background: 0;
	border-radius: 0;
	font: 16px sans-serif;
	margin: 0
}

body {
	background-color: palette(Grey, 900);
	background-image: url("/imgs/lines_bg.jpg");
}

.col-left {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100px;
	background-color: #FF0000;
}

a { 
	text-decoration: none; 
	color: #000;

	.dark > & {
		color: #FFF;
	}
}

@mixin h-base {
	color: rgba(0,0,0,0.54);
	margin-top: 2 * $typeGrid;
	.dark > & {
		color: #FFF;
	}
}


@for $i from 1 through 6 {
	h#{$i} {
		font-size: #{32px - (($i - 1) * ($typeGrid + 1))};		
		margin-bottom: #{(6 - $i) * $typeGrid};
		@include h-base;
	}
}



.container {
	@include group;
	background-color: $fakeColor1;
	margin: auto;
	margin-bottom: $increment * 2;
	max-width: $increment * 15;


}

.col {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	background-color: $fakeColor2;
	border: $fakeBorder;
	border-bottom: 1px solid rgba(0,0,0,.23);
	padding: $margin;

	img {			
		display: block;
		width: 100%;

		&.logo {
			width: 200px;
			margin: auto;
		}
	}

	&.parent {
		padding: 0;		
	}


	@include no-overflow;
}



.btn {
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	border-radius: 4px;
	color: #FFF;
	font-weight: bold;
	background-color: #2196F3;
	padding: $typeGrid * 2;
	margin: $typeGrid auto;
	text-align: center;
}

.address {
	text-align: center;
	font-weight: bold;
}


@media (min-width: 15 * $increment) {


	.col {
		border-bottom: none;
		float: left;

		img {
			&.vertical {
				width: auto;
				height: 100%;
			}
			&.logo {
				width: 100px;
			}


		}



		&.parent {
			padding: 0;		
		}
	}


	@for $i from 1 through 15 {
		.col-#{$i} {
			width: #{$i * $increment};		
		}
		.colh-#{$i} {
			height: #{$i * $increment};		
		}
	}


	.company-name {
		font-size: 20px;
		text-align: left;
	}
	.company-name-line2 {
		font-size: 12px;
		text-align: left;
	}


	nav {
		a {
			font-size: 16px;
			text-align: left;
		}
	}

}


.bold {
	color: rgba(0,0,0,0.67);
}


.dark {
	color: #FFF;
	//background-color: rgba(0,0,0,0.54);
	background-color: palette(Cyan, 700);

	.bold {
		color: #FFF; 
	}
}

.dark2 {
	background-color: palette(Deep Purple, 700);
}

